// l-nav
@media screen and (max-width: 1630px) {
    .l-nav__support {
        margin-right: 5%;
    }
}
@media screen and (max-width: 1420px) {
    .l-nav__support {
        margin-right: 0;
    }
}
@media screen and (max-width: 1280px) {
    .l-nav__support .c-subMenu__call .caption {
        display: none;
    }
}
@media screen and (max-width: 1130px) {
    .u-maxRow {
        padding-top: 153px;
    }
    .l-nav {
        background: $white2;
        .c-hamburguer {
            display: block;
        }
        &__primary {
            padding-top: 20px;
            padding-bottom: 10px;
        }
        
        &__secondary {
            padding-right: 15px;
            padding-left: 15px;
            flex-wrap: wrap;
            .l-nav__categoriesMenu {
                @include flexWidth(100%);
                order: 2;
                justify-content: center;
                margin-top: 10px;
                .c-subMenu.is-active>.c-subMenu__content {
                    top: 90px;
                }
            }
        }
        &__search {
            @include flexWidth(100%);
            order: 1;
            .c-search {
                width: 100%;
                max-width: 500px;
                margin: 0 auto;
                input {
                    padding: 0 15px;
                    padding-right: 40px;
                    border-bottom: 0;
                }
                button {
                    right: 15px;
                }
            }
        }
        &__cart {
            padding: 0;
            align-items: center;
            height: 20px;
            width: 30px;
            top: 21px;
            background-color: transparent;
            .c-subMenu__call {
                width: 100%;
                margin-bottom: 0;
                padding: 0;
                height: 20px;
                &:after {
                    display: none;
                }
            }
        }
        
        &__support,
        &__userAcc{
            display: none;
        }
        
        &.scrolled {
            .l-nav__cart {
                top: 11px;
            }
            .l-nav__secondary {
                .l-nav__categoriesMenu {
                    .c-subMenu.is-active>.c-subMenu__content {
                        top: 78px;
                    }
                }
            }
        }
    }
    .l-nav__secondary .l-nav__categoriesMenu .c-subMenu>.c-subMenu__content {
        overflow-y: scroll;
    }
    .l-nav__secondary .l-nav__categoriesMenu .c-subMenu .content__figure img {
        position: relative;
        top: 0;
    }
}
@media screen and (max-width: 720px) {
    .l-nav {
        &__secondary {
            .l-nav__categoriesMenu {
                @include scroll($size: 2px, $bg: $white2, $bar: $mutedGray);
                overflow-x: auto;
                overflow-y: hidden;
                justify-content: space-between;
            }
        }
    }
}
@media screen and (max-width: 640px) {
    .l-nav__secondary .l-nav__categoriesMenu .c-subMenu .content__figure {
        display: none;
    }
}
@media screen and (max-width: 400px) {
    .l-nav__cart .c-subMenu__content {
        right: -20px;
        width: 100vw;
    }
}