// l-nav
@media screen and (max-width: 1630px) {
    .l-nav__support {
        margin-right: 5%;
    }
}
@media screen and (max-width: 1420px) {
    .l-nav__support {
        margin-right: 0;
    }
}
@media screen and (max-width: 1280px) {
    .l-nav__support .c-subMenu__call .caption {
        display: none;
    }
}
@media screen and (max-width: 1130px) {
    .l-nav {
        background: $white2;
        .c-hamburguer {
            display: block;
        }
        &__primary {
            padding-top: 20px;
        }
        &__contentHero {
            @include transition();
            overflow-x: hidden;
            overflow-y: auto;
            display: block;
            background: $white;
            height: 100vh;
            position: fixed;
            left: -300px;
            top: 0;
            width: 260px;
            max-width: 100%;
            padding-bottom: 70px;
            &.is-active {
                left: 0;
            }
        }
        
        &__secondary {
            padding-right: 15px;
            padding-left: 15px;
            flex-wrap: wrap;
        }
        &__search {
            @include flexWidth(100%);
            order: 1;
            .c-search {
                width: 100%;
                max-width: 500px;
                margin: 0 auto;
                input {
                    padding: 0 15px;
                    padding-right: 40px;
                    border-bottom: 0;
                }
                button {
                    right: 15px;
                }
            }
        }
        &__categoriesMenu {
            @include flexWidth(100%);
            order: 2;
            justify-content: center;
            margin-top: 10px;
        }
        &__cart {
            padding: 0;
            align-items: center;
            height: 20px;
            width: 30px;
            top: 21px;
            background-color: transparent;
            .c-subMenu__call {
                width: 100%;
                margin-bottom: 0;
                padding: 0;
                height: 20px;
                &:after {
                    display: none;
                }
            }
        }
        
        &__support,
        &__userAcc{
            display: none;
        }
    }
}
@media screen and (max-width: 720px) {
    .l-nav__categoriesMenu {
        @include scroll($size: 2px, $bg: $white2, $bar: $mutedGray);
        overflow-x: auto;
        overflow-y: hidden;
        justify-content: space-between;
    }
}



