// l-nav
@media screen and (max-width: 1630px) {
    .l-nav__support {
        margin-right: 5%;
    }
}
@media screen and (max-width: 1420px) {
    .l-nav__support {
        margin-right: 0;
    }
}
@media screen and (max-width: 1280px) {
    .l-nav__support .c-subMenu__call .caption {
        display: none;
    }
}
@media screen and (max-width: 1130px) {
    .u-maxRow {
        padding-top: 153px;
    }
    .l-nav {
        background: $white2;
        .c-hamburguer {
            display: block;
        }
        &__primary {
            padding-top: 20px;
            padding-bottom: 10px;
        }
        
        &__secondary {
            padding-right: 15px;
            padding-left: 15px;
            flex-wrap: wrap;
            .l-nav__categoriesMenu {
                @include flexWidth(100%);
                order: 2;
                justify-content: center;
                margin-top: 10px;
                .c-subMenu.is-active>.c-subMenu__content {
                    top: 90px;
                }
            }
        }
        &__search {
            @include flexWidth(100%);
            order: 1;
            .c-search {
                width: 100%;
                max-width: 500px;
                margin: 0 auto;
                input {
                    padding: 0 15px;
                    padding-right: 40px;
                    border-bottom: 0;
                }
                button {
                    right: 15px;
                }
            }
        }
        &__cart {
            padding: 0;
            align-items: center;
            height: 20px;
            width: 30px;
            top: 21px;
            background-color: transparent;
            .c-subMenu__call {
                width: 100%;
                margin-bottom: 0;
                padding: 0;
                height: 20px;
                &:after {
                    display: none;
                }
            }
        }
        
        &__support,
        &__userAcc{
            display: none;
        }
        
        &.scrolled {
            .l-nav__cart {
                top: 11px;
            }
            .l-nav__secondary {
                .l-nav__categoriesMenu {
                    .c-subMenu.is-active>.c-subMenu__content {
                        top: 78px;
                    }
                }
            }
        }
    }
    .l-nav__secondary .l-nav__categoriesMenu .c-subMenu>.c-subMenu__content {
        overflow-y: scroll;
    }
    .l-nav__secondary .l-nav__categoriesMenu .c-subMenu .content__figure img {
        position: relative;
        top: 0;
    }
}
@media screen and (max-width: 720px) {
    .l-nav {
        &__secondary {
            .l-nav__categoriesMenu {
                @include scroll($size: 2px, $bg: $white2, $bar: $mutedGray);
                overflow-x: auto;
                overflow-y: hidden;
                justify-content: space-between;
            }
        }
    }
}
@media screen and (max-width: 640px) {
    .l-nav__secondary .l-nav__categoriesMenu .c-subMenu .content__figure {
        display: none;
    }
}
@media screen and (max-width: 400px) {
    .l-nav__cart .c-subMenu__content {
        right: -20px;
        width: 100vw;
    }
}

// l-footer
@media screen and (max-width: 1080px) {
    .l-footer {
        &:before {
            display: none;
        }
        &__cover {
            display: none;
        }
        &__content {
            padding: 60px 0;
        }
    }
}
@media screen and (max-width: 830px){
    .l-footer {
        padding: 30px 0;
        background: $white2;
        &__brand {
            display: none;
        }
        &__content {
            flex-wrap: wrap;
            padding-top: 0;
            padding-bottom: 0;
            position: relative;
            &:before {
                @include square($size: 3px);
                width: 30px;
                top: -1px;
                left: 50%;
                margin-left: -15px;
            }
        }
        &__institutional {
            @include flexWidth(100%);
            padding-left: 0;
        }
        &__help {
            @include flexWidth(100%);
            padding-left: 0;
            .c-toggleList__content {
                flex-wrap: wrap;
                > * {
                    @include flexWidth(100%);
                }
                > div {
                    padding-left: 0;
                    margin-top: 30px;
                }
            }
        }
        &__payments {
            @include flexWidth(100%);
            padding-left: 0;
            img {
                margin-left: auto;
                margin-right: auto;
            }
        }
        
        .c-socialList {
            justify-content: center;
        }
        
        .c-listSupport {
            > li > a {
                justify-content: center;
                i {
                    @include flexWidth(16px);
                }
                span.caption {
                    flex: 0 1 auto;
                    display: inline-block;
                    width: auto;
                }
            }
            span.caption {
                text-align: center;
            }
        }
        
        .c-toggleList {
            border-top: 1px solid $lightGray;
            &__header {
                display: block;
                background-color: transparent;
                padding: 25px 0;
                &:after {
                    display: none;
                }
                span {
                    display: block;
                    width: 100%;
                    text-align: center;
                    color: $text;
                    font-size: 13px;
                    text-transform: uppercase;
                    @include letterSpacing(600);
                }
            }
            &__content {
                @include u-hideElement;
                padding: 0;
                max-height: 0;
                border: 0;
                ul:not(.c-socialList):not(.c-listSupport) a {
                    display: block;
                    text-align: center;
                    padding: 10px 0;
                }
            }
            &.is-active {
                .c-toggleList__content {
                    padding: 0;
                    padding-bottom: 30px;
                }
            }
        }
    }
    .l-copyright {
        p {
            text-align: center;
        }
    }
}

// s-newCollection
@media screen and (max-width: 780px) {
    .s-newCollection {
        margin-top: -10px;
        padding-top: 0;
        .u-container {
            max-width: 400px;
        }
        &__figure {
            figcaption {
                bottom: 18px;
                left: inherit;
                right: -105px;
                a {
                    text-align: left;
                }
            }
            img {
                height: 315px;
                right: 10px;
            }
        }
        &__content {
            @include flexWidth(160px);
        }
        .circleContent {
            width: 232px;
            height: 232px;
            border-width: 20px;
            top: 20px;
            left: -65px;
        }
        h1 {
            font-size: 20px;
            max-width: 150px;
            font-weight: $fwLight;
            position: relative;
            line-height: 24px;
            &:after {
                @include square($size: 12px);
                left: 60px;
                bottom: -20px;
            }
        }
        p {
            display: none;
        }
    }
}

// s-featuredHome
@media screen and (max-width: 910px) {
    .s-featuredHome__product {
        .product__figure {
            right: 145px;
            img {
                @include transforms(scale(0.8), center);
            }
        }
    }
}
@media screen and (max-width: 830px) {
    .s-featuredHome__product {
        .product__figure {
            right: 115px;
            img {
                @include transforms(scale(0.6), center);
            }
        }
    }
}
@media screen and (max-width: 780px) {
    .s-featuredHome .u-containerFlex {
        max-width: 400px;
    }
    .s-featuredHome__figure {
        @include flexWidth(100%);
        height: auto;
        background: transparent !important;
        img {
            display: block !important;
            width: 100%;
        }
    }
    .s-featuredHome__product {
        display: none;
    }
}

// s-featuredCollection
@media screen and (max-width: 1140px) {
    .s-featuredCollection {
        margin-top: 0;
        .content {
            max-width: 485px;
            margin: 0 auto;
            position: relative;
            align-items: flex-start;
        }
        &__caption {
            @include flexWidth(50%);
            position: absolute;
            right: 0;
            top: -65px;
            text-align: left;
            &:after {
                @include square($size: 3px);
                width: 30px;
                left: 0;
                bottom: -10px;
            }
            strong {
                text-align: left;
            }
        }
        &__figure {
            @include flexWidth(50%);
            left: 0;
            order: 2;
            img {
                position: relative;
            }
        }
        &__title {
            @include flexWidth(50%);
            order: 1;
            padding: 30px;
            text-transform: uppercase;
            text-align: left;
            position: relative;
        }
        .featuredJewerly {
            @include transforms(translateX(-50%), center);
            display: block !important;
            width: 132px;
            height: 134px;
            position: absolute;
            left: 50%;
            bottom: -120px;
            object-position: center;
            object-fit: cover;
        }
    }
}
@media screen and (max-width: 780px) {
    .s-featuredCollection__caption {
        padding-left: 20px;
        font-size: 12px;
        top: -50px;
        strong {
            font-size: 12px;
        }
        &:after {
            left: 20px;
        }
    }
    .s-featuredCollection__title {
        font-size: 18px;
    }
}

// s-lastFeaturedCollection
@media screen and (max-width: 1140px) {
    .s-lastFeaturedCollection {
        margin-top: -200px;
        .u-containerFlex {
            justify-content: flex-start;
            max-width: 515px;
            min-height: inherit;
            padding-top: 40px;
        }
        &__description {
            @include flexWidth(50%);
            padding-right: 20px;
        }
        &__figure {
            display: none;
        }
        &__content {
            display: none;
        }
    }
}
@media screen and (max-width: 500px) {
    .s-lastFeaturedCollection {
        margin-top: 0;
    }
    .s-lastFeaturedCollection .u-containerFlex {
        justify-content: flex-end;
    }
    .s-lastFeaturedCollection__description {
        @include flexWidth(100%);
        padding-right: 0;
        p, h3, a {
            font-size: 14px;
        }
    }
}

// s-homeInstagram
@media screen and (max-width: 860px) {
    .s-homeInstagram {
        display: none;
    }
}

// s-suggestionsProduct
