// <>
body {
	@include scroll();
	overflow-x: hidden;
}
main {
	background: $white2;
}

// .
.u-maxRow {
	padding-top: 133px;
}

// l-
.l-nav {
	@include transition($ease: ease-in);
	display: block;
	width: 100%;
	max-width: $maxRowWidth;
	margin: 0 auto;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: $white;
	z-index: 10;
	border-top: 6px solid $primary;
	border-bottom: 1px solid transparent;
	&__primary {
		@include transition();
		display: block;
		width: 100%;
		padding: 40px 0 10px 0;
	}
	&__brand {
		width: 100%;
		display: block;
		a, img {
			display: block;
			width: 100%;
			max-width: 200px;
			margin: 0 auto;
		}
	}
	
	&__secondary {
		@include transition();
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 10px 80px 10px 0;
		position: relative;
		.l-nav__categoriesMenu {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			li {
				min-height: 34px;
				display: block;
				> a {
					@include uppercaseSmallTexts($black);
					display: block;
					padding: 10px;
					border-bottom: 2px solid transparent;
					cursor: pointer;
					white-space: nowrap;
					&:hover {
						border-bottom: 2px solid $primary;
					}
				}
				.c-subMenu__call {
					&:after {
						display: none;
					}
				}
			}
			.c-subMenu {
				position: static;
				.u-container {
					max-width: 580px;
				}
				.content__categories {
					flex: 1 1 auto;
					.c-responsiveGrid {
						justify-content: flex-start;
					}
				}
				.content__figure {
					@include flexWidth(130px);
					display: block;
					position: relative;
					a {
						display: block;
						width: 100%;
					}
					img {
						display: block;
						position: absolute;
						top: -20px;
						width: 100%;
						object-fit: contain;
					}
				}
				> .c-subMenu__content {
					overflow-x: inherit;
					overflow-y: inherit;
					width: 100%;
				}
				&.is-active {
					> .c-subMenu__content {
						top: 55px;
					}
				}
			}
		}
	}
	&__support {
		margin-right: 15%;
		.c-subMenu__call {
			display: flex;
			flex-direction: row;
			align-items: center;
			.icons {
				@include flexWidth(90px);
				background: $primary;
				height: 36px;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				padding: 0 15px 0 20px;
				i {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 17px;
					height: 13px;
					svg {
						display: block;
						width: 17px;
						height: 13px;
						path {
							fill: $black;
						}
					}
				}
			}
			.caption {
				@include uppercaseSmallTexts();
				padding-left: 10px;
				text-align: left;
			}
			&:hover {
				.icons {
					background: $primaryDark;
				}
			}
			&:after {
				display: none;
			}
		}
		.c-subMenu__content {
			@include transforms(translateX(0), center);
			padding: 0;
			left: 0;
			width: 205px;
			border: 0;
		}
		.c-subMenu {
			&.is-active {
				.c-subMenu__content {
					top: 0;
				}
			}
		}
		.support__close {
			width: 20px;
			height: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 20px;
			right: 25px;
			cursor: pointer;
			img {
				display: block;
				width: 10px;
				height: 10px;
			}
		}
		.c-listSupport {
			padding-top: 55px;
		}
	}
	&__search {
		@include flexWidth(190px);
	}
	&__userAcc {
		.userOff {
			display: none;
			a {
				@include transition();
				@include uppercaseSmallTexts($black);
				display: block;
				&:hover {
					color: $primary;
				}
			}
		}
		.userOn {
			.c-subMenu__call {
				@include uppercaseSmallTexts($black);
				white-space: nowrap;
				color: $primary;
				&:after {
					display: none;
				}
			}
			.c-subMenu {
				&.is-active {
					.c-subMenu__content {
						top: 36px;
					}
				}
			}
		}
	}
	&__cart {
		@include transition();
		position: absolute;
		top: 0;
		right: 15px;
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		justify-content: center;
		height: 100%;
		width: 47px;
		padding-bottom: 20px;
		background: $primary;
		.c-subMenu__call {
			width: 40px;
			height: 35px;
			padding: 10px;
			padding-bottom: 5px;
			> span {
				display: block;
				width: 20px;
				height: 20px;
				img {
					display: block;
					width: 100%;
				}
			}
		}
		.c-subMenu__content {
			@include transforms(translateX(0), center);
			left: inherit;
			right: -3px;
			background: $primary;
			border: 0;
			padding: 0;
			width: 370px;
		}
	}
	
	// responsive content
	&__contentHero {
		@include scroll();
		@include transition();
		z-index: 10;
		overflow-x: hidden;
		overflow-y: auto;
		display: block;
		width: 300px;
		max-width: 100%;
		height: 100vh;
		padding-bottom: 70px;
		position: fixed;
		left: -300px;
		top: 0;
		background: $primaryLight;
		&.is-active {
			left: 0;
		}
		.l-nav__userMobileAcc {
			padding-top: 50px;
			background: $primary;
			padding-bottom: 20px;
			a, strong {
				display: block;
				width: 100%;
			}
			a {
				color: $white;
				font-size: 16px;
				padding: 30px;
				font-weight: $fwRegular;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		
		.l-nav__categoriesMenu,
		.l-nav__controlAcc {
			background: $primary;
			padding: 0 30px;
			position: relative;
			margin-top: 0;
			&:before {
				@include square($white, 4px);
				width: 28px;
				top: -15px;
				left: 30px;
			}
			> li {
				border-top: 1px solid rgba(255,255,255,0.25);
				&:first-of-type {
					border-top: 0;
				}
				> a {
					display: block;
					width: 100%;
					padding: 15px 0;
					color: $white;
					font-size: 13px;
					text-transform: uppercase;
					font-weight: $fwRegular;
					text-align: left;
				}
			}
			.c-subMenu {
				> .c-subMenu__mask {
					display: none !important;
				}
				> .c-subMenu__call {
					&:after {
						@include transforms(translateY(-50%), center);
						background: url(#{$media_assets}caret-down-white.svg);
						background-repeat: no-repeat;
						background-position: center;
						background-size: contain;
						right: 0;
						top: 50%;
						left: inherit;
						bottom: inherit;
					}
				}
				> .c-subMenu__content {
					position: relative;
					overflow: hidden;
					max-height: 0;
					padding: 0 20px;
					border: 0;
					ul {
						li {
							display: block;
							a {
								@include uppercaseSmallTexts($white, 13px);
								font-weight: $fwLight;
							}
						}
					}
				}
				&.is-active {
					> .c-subMenu__call {
						&:after {@include transforms(translateY(-50%) rotate(180deg), center);}
					}
					> .c-subMenu__content {
						overflow: auto;
						top: 0;
						padding: 0 20px 10px 20px;
						max-height: 80vh;
					}
				}
				.c-subMenu {
					border: 0;
				}
			}
		}
		.l-nav__categoriesMenu {
			padding-bottom: 40px;
		}
		.l-nav__controlAcc {
			padding-bottom: 10px;
		}
		.c-listSupport {
			padding-bottom: 0;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			background: $primaryLight;
			a, .caption {
				@include opacity(1);
				color :$white;
			}
		}
		.c-socialList {
			padding: 25px;
			width: 100%;
			justify-content: center;
			.caption {
				color: $white;
			}
		}
	}
	
	&__maskMenu {
		&.maskAll,
		&.maskMenu {
			@include u-hideElement();
			z-index: 9;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 100%;
			min-height: 100vh;
			display: block;
			background: rgba(0,0,0,0.5);
			&.is-active {
				@include u-showElement();
			}
		}
		&.maskMenu {
			z-index: 1;
		}
	}
	
	&.hidden {
		top: -300px;
	}
	
	&.scrolled {
		border-bottom: 1px solid $mutedGray;
		border-top: 3px solid $primary;
		.l-nav__primary {
			padding-top: 10px;
			padding-bottom: 0;
		}
		.l-nav__secondary {
			padding-top: 5px;
			padding-bottom: 0;
			.l-nav__categoriesMenu .c-subMenu.is-active>.c-subMenu__content {
				top: 40px;
			}
		}
		.c-hamburguer {
			top: 15px;
			&.is-active {
				margin-top: 5px;
			}
		}
	}
}
.l-headerHome {
	display: block;
	position: relative;
	img {
		display: block;
		width: 100%;
		min-height: 405px;
		object-fit: cover;
		object-position: center;
	}
	.u-container {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		height: 100%;
		align-items: center;
	}
	h1 {
		@include h1_home($black);
		max-width: 350px;
		position: relative;
		&:after {
			content: '';
			display: block;
			width: 60px;
			height: 4px;
			position: absolute;
			left: 0;
			bottom: -20px;
			background: $black;
		}
	}
}
.l-footer {
	background: $mutedGray;
	display: block;
	position: relative;
	margin-top: -20px;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 40px;
		background: $white2;
	}
	.u-container {
		max-width: 1340px;
		justify-content: space-between;
		align-items: center;
	}
	&__brand {
		@include flexWidth(56px);
	}
	&__cover {
		@include flexWidth(305px);
		align-self: flex-end;
		img {
			display: block;
			width: 100%;
		}
	}
	&__content {
		flex: 1 1 auto;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		padding: 80px 0 40px 0;
	}
	&__institutional {
		@include flexWidth(25%);
		padding-left: 30px;
	}
	&__help {
		flex: 1 1 auto;
		padding-left: 30px;
		.c-toggleList {
			&__content {
				display: flex;
				flex-direction: row;
				> * {
					@include flexWidth(50%);
				}
			}
		}
	}
	&__payments {
		@include flexWidth(180px);
		padding-left: 30px;
		img {
			display: block;
			max-width: 100%;
			margin-bottom: 20px;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	
	.c-toggleList {
		&__header {
			display: none;
		}
		&__content {
			@include u-showElement;
			padding: 0;
			max-height: inherit;
			border: 0;
			ul {
				&:not(.c-socialList):not(.c-listSupport) {
					li {
						display: block;
						margin-bottom: 2px;
						&:last-of-type {
							margin-bottom: 0;
						}
					}
					a {
						display: block;
						font-size: 13px;
						color: $text;
						&:hover {
							color: $textDark;
						}
					}
				}
			}
			
		}
		&.is-active {
		
		}
	}
	
	.c-listSupport {
		background-color: transparent;
		padding: 0;
		> li > a {
			&:hover {
				background-color: transparent !important;
			}
		}
	}
}
.l-copyright {
	display: block;
	background: $white2;
	padding: 30px 50px;
	p {
		@include paragrafos($fs: 13px);
	}
}

// s-
.s-newCollection {
	display: block;
	position: relative;
	z-index: 1;
	margin-top: -25px;
	.u-containerFlex {
		max-width: 1000px;
		justify-content: flex-end;
	}
	&__figure {
		flex: 1 1 auto;
		max-width: 515px;
		display: flex;
		justify-content: flex-end;
		position: relative;
		figcaption {
			display: block;
			position: absolute;
			bottom: 60px;
			left: 45px;
			a {
				@include transition();
				@include paragrafos($fs: 15px, $tc: $black);
				display: block;
				text-align: right;
				strong {
					text-align: right;
					display: block;
				}
				&:hover {
					color: $primaryDark;
				}
			}
		}
		img {
			display: block;
			position: relative;
			right: -45px;
			height: 440px;
		}
	}
	&__content {
		@include flexWidth(330px);
		padding: 90px 0;
		position: relative;
		z-index: 2;
	}
	h1 {
		@include h1_home($black);
		margin-bottom: 40px;
	}
	p {
		@include paragrafos($tc: $black);
		padding-left: 90px;
		position: relative;
		&:before {
			@include square();
			left: 90px;
			top: -25px;
		}
	}
}
.s-featuredHome {
	display: block;
	position: relative;
	z-index: 2;
	.u-containerFlex {
		max-width: 970px;
	}
	&__figure {
		@include flexWidth(455px);
		display: block;
		height: 342px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
	&__product {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 140px;
		position: relative;
		.product__resume {
			align-self: flex-end;
			position: relative;
			left: -80px;
		}
		.product__figure {
			position: absolute;
			right: 194px;
			top: -99px;
			img {
				object-position: center;
				object-fit: contain;
				max-width: 215px;
				max-height: 350px;
			}
		}
		.product__description {
			@include flexWidth(152px);
			display: block;
			h3 {
				@include paragrafos($tc: $black, $fw: $fwBold, $mbLOT: 8px);
			}
			p {
				@include paragrafos($tc: $black);
			}
			a {
				@include paragrafos($tc: $black, $fw: $fwBold);
				display: inline-block;
				position: relative;
				margin-top: 30px;
				&:before {
					@include square($size: 7px);
					left: 0;
					top: -18px;
				}
				&:hover {
					color: $primary;
					text-decoration: underline;
				}
			}
		}
	}
}
.s-featuredCollection {
	position: relative;
	z-index: 1;
	margin-top: -114px;
	.u-container {
		max-width: 1130px;
	}
	.u-containerFlex {
		max-width: 912px;
		justify-content: space-between;
		align-items: center;
	}
	&__figure {
		@include flexWidth(226px);
		position: relative;
		left: 84px;
		align-self: flex-start;
		img {
			display: block;
			position: absolute;
			width: 100%;
		}
	}
	&__caption {
		@include flexWidth(150px);
		@include transition();
		@include paragrafos($fs: 15px, $tc: $black);
		display: block;
		text-align: right;
		text-transform: uppercase;
		strong {
			font-weight: $fwBold;
			text-align: right;
			display: block;
		}
		&:hover {
			color: $primaryDark;
		}
	}
	&__title {
		@include flexWidth(388px);
		background: $primary;
		padding-top: 35px;
		padding-bottom: 25px;
		padding-left: 50px;
		padding-right: 140px;
		display: block;
		font-size: 23px;
		color: $white;
		font-weight: $fwLight;
		text-align: right;
	}
}
.s-lastFeaturedCollection {
	display: block;
	position: relative;
	z-index: 2;
	.u-containerFlex {
		max-width: 930px;
		justify-content: space-between;
		align-items: center;
		min-height: 315px;
	}
	&__description {
		@include flexWidth(152px);
		display: block;
		text-align: right;
		h3 {
			@include paragrafos($tc: $black, $fw: $fwBold, $mbLOT: 10px);
			text-align: right;
		}
		p {
			@include paragrafos($tc: $black);
			text-align: right;
		}
		a {
			@include paragrafos($tc: $black, $fw: $fwBold);
			display: inline-block;
			position: relative;
			margin-top: 30px;
			&:hover {
				color: $primary;
				text-decoration: underline;
			}
		}
	}
	&__figure {
		display: block;
		width: 208px;
		height: 210px;
		position: absolute;
		left: 40%;
		bottom: -60px;
		img {
			display: block;
			width: 100%;
		}
	}
	&__content {
		@include flexWidth(350px);
		div {
			padding-left: 45px;
		}
		h1 {
			@include h1_home($tc: $black);
			margin-bottom: 20px;
		}
		p {
			@include paragrafos($tc: $black);
			max-width: 200px;
		}
		.c-btn {
			margin-top: 20px;
			max-width: 200px;
		}
	}
}
.s-homeInstagram {
	display: block;
	position: relative;
	z-index: 3;
	margin-top: -2px;
	.u-containerFlex {
		max-width: 956px;
		align-items: flex-start;
	}
	&__title {
		flex: 1 1 auto;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		h2 {
			display: block;
			color: $black;
			font-size: 13px;
			text-align: right;
			font-weight: $fwRegular;
			padding-right: 55px;
			strong {
				font-weight: $fwBold;
			}
		}
		a {
			@include flexWidth(95px);
			@include transition();
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			height: 99px;
			background: $primary;
			svg {
				display: block;
				width: 30px;
				height: 30px;
				path, circle {
					fill: $white;
				}
			}
			&:hover {
				background: $primaryDark;
			}
		}
	}
	&__grid {
		@include flexWidth(610px);
		display: block;
		padding-top: 99px;
		li {
			border-right: 1px solid $white;
			border-left: 1px solid $white;
			&:first-of-type {
				border-left: 0;
			}
			&:last-of-type {
				border-right: 0;
			}
		}
		a {
			@include transition();
			display: block;
			width: 100%;
			background: $primary;
			padding: 15px;
			overflow: hidden;
			&:hover {
				background: $primaryDark;
			}
		}
		img {
			display: block;
			width: 100%;
		}
	}
}
.s-suggestionsProduct {
	display: block;
	position: relative;
	z-index: 2;
	margin-top: -150px;
	.u-container {
		max-width: 1200px;
	}
	&__intro {
		h1 {
			@include h1_home($tc: $black);
			margin-bottom: 20px;
			max-width: 350px;
		}
		p {
			@include paragrafos($tc: $black);
			max-width: 160px;
		}
	}
	&__grid {
		margin-top: 30px;
	}
}

// #